<h1>Potvrdit objednávku</h1>
<form action="/order" method="POST">
  <p><label for="jmeno">Jméno:</label>
  <input type="jmeno" name="jmeno" required></p>
  <p><label for="prijmeni">Přijmení:</label>
  <input type="prijmeni" name="prijmeni" required></p>
  <p><label for="email">E-mail:</label>
  <input type="email" name="email" required></p>
  <p><label for="adresa">Adresa:</label>
  <input type="adresa" name="adresa" required></p>
  <p><label for="mesto">Město:</label>
  <input type="mesto" name="mesto" required></p>
  <button type="submit">Odeslat objednávku</button>
</form>